<!doctype html>
<html>
<head>
<link rel="stylesheet" href="styles.css">

</head>
<body>
<h1>
    Everything is working all right! 
</h1>
    <video class="grayscale-filter"></video>



    <script type="text/javascript">
        navigator.getUserMedia = navigator.getUserMedia 
        || navigator.webkitGetUserMedia 
        || navigator.mozGetUserMedia; 

        var constraints = {
            audio: false, 
            video: {
                mandatory: {
                    maxHeight: 720,
                    minHeight: 480,  
                    maxWidth: 960, 
                    minWidth: 640
                }
            }
        }; 

        var videoArea = document.querySelector('video'); 

        navigator.getUserMedia(constraints, onSuccess, onError); 
    
        function onSuccess(stream){
            videoArea.src = window.URL.createObjectURL(stream); 
            videoArea.play(); 
        }

        function onError(error){
            console.log("Error with getUserMedia: " + error); 
        }
    </script>

</body>

</html>